@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");
@font-face {
  font-family: "Roboto" !important;
  src: url("/public/assets/Roboto-Regular.ttf") format("truetype");
  font-weight: 100 !important;
  font-style: normal;
}
body {
  background-color: #222;
  color: #c2c1c1;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
}

input[type=file] {
  display: none;
  font-family: "Roboto";
  font-weight: 300;
}

label,
.btn {
  font-family: "Roboto";
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(145, 145, 145);
  font-size: calc(0.75rem + 0.5vw);
  padding: 0.25rem 1.5rem;
  height: 50px;
  margin: 10px;
  color: #c2c1c1;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  box-shadow: inset 0 0 10px rgba(194, 193, 193, 0.2), inset 0 -5px 10px rgba(34, 34, 34, 0.4), 0 5px 10px rgba(34, 34, 34, 0.4);
  background: linear-gradient(to bottom, #444, #111111);
}
label i,
.btn i {
  margin-right: 1rem;
}
label:hover,
.btn:hover {
  color: #fff;
}

.navbar-brand a {
  font-weight: 100;
}

.navbar {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 70px;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 10px rgba(194, 193, 193, 0.2), inset 0 -5px 10px rgba(34, 34, 34, 0.4), 0 5px 10px rgba(34, 34, 34, 0.4);
  background: linear-gradient(to bottom, #202020, black);
}
.navbar .logo-box {
  display: flex;
  align-items: center;
}
.navbar .logo-box .logo {
  /* ... */
  /* Image du logo */
  width: 60px; /* Largeur du logo */
  height: 60px; /* Hauteur du logo */
  /* Position du logo */
  background: url("/assets/img/logo.jfif") no-repeat center;
  background-size: contain; /* Taille du logo */
  border-radius: 50%;
}
.navbar .logo-box h3 {
  font-size: calc(0.8rem + 0.5vw);
  font-weight: 300;
}
.navbar .menu-box {
  position: relative;
  margin-right: 0px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: calc(0.7rem + 0.45vw);
  font-weight: 200;
}
.navbar .menu-box a {
  display: inline;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s ease-in-out;
  border-bottom: 2px solid transparent;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar .menu-box a:hover {
  color: #ffffff;
  cursor: pointer;
}
.navbar .menu-box a i {
  font-size: 2rem;
}
.navbar .menu-box a .under:hover {
  border-bottom: 2px solid #00a0e9;
  padding-bottom: 0.3rem;
  color: #ffffff;
  cursor: pointer;
}
.navbar .menu-box a li {
  display: inline;
  padding: 0 1rem;
}

.main-box {
  overflow-x: auto;
  margin: 1rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-box .drop-box {
  height: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid whitesmoke;
  border-radius: 0.4rem;
  background: #202020;
  width: 70%;
  margin-bottom: 2rem;
  padding: 2rem 0;
  padding-bottom: 0;
  color: #444;
  margin: 1rem;
  font-size: calc(0.6rem + 0.6vw) !important;
}
.main-box .drop-box #image-root {
  width: 100%;
}
.main-box .drop-box .image-wrapper {
  height: 4rem;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #535151;
  border-radius: 0.25rem;
  margin: 0 0.5rem;
}
.main-box .drop-box .image-wrapper #img-infos {
  width: 8rem;
  font-size: calc(0.5rem + 0.5vw) !important;
}
.main-box .drop-box span {
  font-size: calc(0.42rem + 0.45vw);
}
.main-box .drop-box .image-content {
  width: 7%;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(39, 39, 39);
  border-radius: 0.25rem;
  padding: 0.2rem;
  margin-right: 1rem;
  background: #181818;
}
.main-box .drop-box .image-content img {
  -o-object-position: center;
     object-position: center;
  height: 3rem;
  width: 6rem;
  -o-object-fit: contain;
  object-fit: contain;
  /* box-shadow: 1px 1px 4px #444; */
}

/* Créer le conteneur de la barre de progression */
.progressbar-wrapper {
  width: 30%;
  height: 15px;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
}
.progressbar-wrapper .progressbar {
  display: flex;
  width: 50%; /* Modifier cette valeur pour changer la progression */
  height: 100%;
  background: linear-gradient(to right, #00a0e9, #00e9e1);
}
.progressbar-wrapper .progressbar span {
  display: flex;
  font-size: calc(0.4rem + 0.4vw);
  width: 100%;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-popup {
  position: relative;
  margin-top: 0.5rem;
  margin-right: 1rem;
  font-size: 2rem;
}
.btn-popup:hover {
  color: #ffffff;
  cursor: pointer;
}

.menu-popup {
  position: absolute;
  top: 2rem;
  right: 0.25rem;
  border: 1px solid rgb(105, 104, 104);
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: transparent;
}
.menu-popup a {
  font-size: calc(0.5rem + 0.5vw);
  color: #b1b1b1;
  transition: 0.2s ease-in-out;
  padding: 0.1rem 2rem !important;
  margin: 0.1rem 0;
}
.menu-popup a:hover {
  color: black !important;
  background: #fff;
  padding: 0.1rem 2rem !important;
  margin: 0.1rem 0;
}

.w-70 {
  width: 70%;
}

.comment-box h4 {
  font-weight: 300;
  color: #b0b0b0;
}
.comment-box p {
  font-weight: 100;
  color: #494949;
}

.drag-zone {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  line-height: 1.5rem;
  align-items: center;
  border: 1px dashed #ccc;
  height: 4rem;
  color: #515050;
  border-radius: 1rem;
  background: transparent;
  padding: 4rem;
  margin: 1rem;
  font-size: calc(0.5rem + 0.5vw);
}
.drag-zone i {
  font-size: calc(1.5rem + 1vw);
}
.drag-zone.drag-active {
  margin: 1rem;
  padding: 4rem;
  height: 2rem;
  border: 1px solid #00a0e9;
}

.start_box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #181818;
  border-radius: inherit;
}
.start_box .btn:hover {
  border: 1px solid #00a0e9;
}

.ellipsis {
  width: 2rem;
  overflow: hidden; /* Cacher le texte qui dépasse */
  text-overflow: ellipsis; /* Ajouter des points de suspension */
  white-space: nowrap; /* Empêcher le retour à la ligne */
}

.size {
  width: 3rem;
  font-size: calc(0.5rem + 0.5vw);
}

.image-root {
  width: 100%;
}

.select-format {
  position: relative;
  margin: 0 1rem;
  display: flex;
  border: 1px solid #595858;
  border-radius: 0.25rem;
  height: 30%;
  font-size: calc(0.4rem + 0.4vw);
  text-align: center;
  color: #b1b1b1;
  align-items: center;
  padding: 0.2rem 2rem;
  margin-left: 0rem;
}
.select-format i {
  position: absolute;
  right: 0.4rem;
}
.select-format:hover {
  color: white;
  border: 1px solid #646464;
  cursor: pointer;
}

.action {
  margin-left: 0.5rem;
  transition: 1s ease-in-out;
}
.action:hover {
  color: white;
  cursor: pointer;
}
.action i {
  font-size: calc(1rem + 0.85vw);
}

.popup-format {
  z-index: 5;
  position: absolute;
  left: 0;
  display: grid;
  -moz-column-gap: 0rem;
       column-gap: 0rem;
  row-gap: 0rem;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  border-radius: 0.2rem;
  background: #202020;
  border: 1px solid #515050;
  color: #b1b1b1;
  transition: 0.4s ease-in-out;
  padding: 0.2rem 0.5rem;
}
.popup-format a {
  width: 3.5rem;
  color: #b1b1b1;
  list-style: none;
  border: 1px solid rgba(168, 160, 160, 0.7294117647);
}
.popup-format a:hover {
  display: grid;
  color: whitesmoke;
  border: 1px solid #00a0e9;
}
.popup-format .grid {
  height: auto;
  display: grid;
}

.btn-format {
  margin: 0.2rem;
  height: 1.58rem;
  padding: 0.05rem 0 !important;
  font-size: calc(0.35rem + 0.2vw);
}

.pop-settings {
  position: absolute;
  color: #b1b1b1;
}

.navbar-brand {
  background: transparent !important;
  font-weight: 100;
}

.navbar-collapse {
  margin: 0.25rem 0;
  font-weight: 300;
  background-color: transparent !important;
  padding: 1rem;
}

h1 {
  font-size: calc(1rem + 1vw);
  font-weight: 400;
}

.content-box {
  padding-bottom: 5rem;
}
.content-box h4 {
  font-size: calc(0.8rem + 0.9vw);
  font-weight: 300;
  color: #bababa;
  margin: 0;
}
.content-box p {
  text-align: justify;
  font-weight: 200;
  color: #9d9d9d;
  font-size: calc(0.65rem + 0.6vw);
  margin: 1.5rem 0;
  margin-top: 0.25rem;
}

.text-copyright {
  color: whitesmoke;
  font-weight: 100;
}/*# sourceMappingURL=common.css.map */